/*
 * Font
 */

@font-face {
  font-family: "Alap";
  src: url("../font/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Fix";
  src: url("../font/JetBrainsMonoNL-Regular.ttf") format("truetype");
}

/*
 * Struktúra
 */

body {
  margin: 0;
  padding: 0;
  background-color: lightgrey;
}

#befoglalo {
  width: 1280px;
  margin: 0 auto;
  padding: 0 10px 20px 10px;
  background-color: whitesmoke;
  color: black;
  border: 1px solid grey;
  font-family: "Alap";
  font-size: 16px;
 }

.fej {
  margin: 0 -10px -10px -10px;
  padding: 5px 10px;
  background-color: darkblue;
  color: white;
  font-size: 22px;
}

.tetel {
  margin: 10px -10px;
  padding: 10px;
  background-color: lightseagreen;
  color: black;
}

.altetel {
  margin: 10px 0;
  padding: 5px 10px;
  background-color: lightblue;
  color: black;
}

/*
 * Egyéb
 */

ul, ol {
  margin: 0 0 0 -10px;
}

li {
  padding: 5px;
}

a {
  text-decoration: none;
}

b {
  color: darkred;
  font-weight: normal;
}

script[type="text/plain"] {
  margin: 5px 0;
  padding: 10px;
  background-color: #fcfcfc; 
  color: darkgreen;
  border: 1px solid lightgrey;
  display: block;
  white-space: pre;
  font-family: "Fix";
}  

/*
 * Alaptáblázat
 */

table.alap {
  margin: 5px 0;
  border-collapse: collapse;
}

table.alap th {
  padding: 10px;
  background-color: lightgray;
  border: 1px solid grey;
  text-align: left;
  font-weight: normal;
} 

table.alap td {
  padding: 10px;
  border: 1px solid grey;
} 

/*
 * End
 */