<!doctype html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>info: thymeleaf</title>
    <link rel="icon" type="image/png" href="../../resource/image/favicon.png"/>
    <link rel="stylesheet" href="../../resource/css/main.css" type="text/css"/> 
  </head>
  <body>
    <div id="befoglalo">
    <div class="fej">thymeleaf</div>
    <!--=====================================================================================================================-->
    <div class="tetel">Tartalomjegyzék</div>
    <table>
      <tr>
        <td style="vertical-align: top">
          <ul>
            <li><a href="#alapok"><b>alapok</b></a></li>
            <li><a href="#thel"><b>thEL</b></a></li>
            <li><a href="#expression-dollar">${...}</a></li>
            <li><a href="#expression-dollar-pp">__${...}__</a></li>
            <li><a href="#expression-csillag">*{...}</a></li>
            <li><a href="#expression-kukac">@{...}</a></li>
            <li><a href="#expression-hashmark">#{...}</a></li>
            <li><a href="#expression-hullam">~{...}</a></li>
            <li><a href="#expression-pp">|...|</a></li>
            <li><a href="#expression-sk">[(...)]</a></li>
            <li><a href="#expression-ss">[[...]]</a></li>
            <li><a href="#function-arrays">#arrays</a></li>
            <li><a href="#function-dates">#dates</a></li>
            <li><a href="#function-ids">#ids</a></li>
            <li><a href="#function-lists">#lists</a></li>
            <li><a href="#function-maps">#maps</a></li>
          </ul>
        </td>
        <td style="vertical-align: top">
          <ul>
            <li><a href="#function-numbers">#numbers</a></li>
            <li><a href="#function-sets">#sets</a></li>
            <li><a href="#function-strings">#strings</a></li>
            <li><a href="#function-temporals">#temporals</a></li>
            <li><a href="#function-vars">#vars</a></li>
            <li><a href="#application-yml">application.yml</a></li>
            <li><a href="#attribute-precedence">attribute precedence</a></li>
            <li><a href="#conversion-service">conversion service</a></li>
            <li><a href="#form">form</a></li>
            <li><a href="#form-checkbox">form checkbox</a></li>
            <li><a href="#form-errors">form errors</a></li>
            <li><a href="#form-radiobutton">form radiobutton</a></li>
            <li><a href="#form-select">form select</a></li>
            <li><a href="#form-textarea">form textarea</a></li>
            <li><a href="#form-textfield">form textfield</a></li>
            <li><a href="#no-operation">no operation</a></li>
          </ul>
        </td>
        <td style="vertical-align: top">
          <ul>
            <li><a href="#th-akarmi">th:akarmi</a></li>
            <li><a href="#th-attrappend">th:attrappend</a></li>
            <li><a href="#th-attrprepend">th:attrprepend</a></li>
            <li><a href="#th-block">th:block</a></li>
            <li><a href="#th-classappend">th:classappend</a></li>
            <li><a href="#th-each">th:each</a></li>
            <li><a href="#th-fvba">th:FVBA</a></li>
            <li><a href="#th-if">th:if</a></li>
            <li><a href="#th-inline">th:inline</a></li>
            <li><a href="#th-insert">th:insert</a></li>
            <li><a href="#th-remove">th:remove</a></li>
            <li><a href="#th-styleappend">th:styleappend</a></li>
            <li><a href="#th-switch">th:switch</a></li>
            <li><a href="#th-unless">th:unless</a></li>
            <li><a href="#th-utext">th:utext</a></li>
            <li><a href="#th-with">th:with</a></li>
          </ul>
        </td>
      </tr>
    </table>
    <!--=====================================================================================================================-->
    <div id="alapok" class="tetel">alapok</div>
    <ul>
      <li>
        Ha thymeleaf template rendszert akarunk használni egy spring boot alkalmazásban, 
        akkor a következők szükségesek a <b>pom.xml</b>-ben:
        <script type="text/plain">

<!-- spring-boot-starter-thymeleaf -->
<dependency>
  <groupId>org.springframework.boot</groupId>
  <artifactId>spring-boot-starter-thymeleaf</artifactId>
</dependency>

        </script>
      </li>
      <li>
        A pom.xml-ben az is beállítható, hogy melyik thymeleaf verziót használjuk: 
        <script type="text/plain">

<properties>
  <thymeleaf.version>3.0.2.RELEASE</thymeleaf.version>
  <thymeleaf-layout-dialect.version>2.1.1</thymeleaf-layout-dialect.version>
</properties>

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="thel" class="tetel">thEL</div>
    <div class="altetel">alapok</div>
    <ul>
      <li>
        <b>thEL</b> = <b>th</b>ymeleaf <b>E</b>xpression <b>L</b>anguage
      </li>
      <li>
        Tipikusan ilyen helyeken használható thEL:
        <script type="text/plain">
          
th:text="thEL"
th:barmi="thEL"

        </script>
      </li>
      <li>
        A ${} belseje nem thEL-ként értelmeződik, ezért lehetőleg minimális dolgot írjunk bele, 
        például csak model változóra való hivatkozást.
      </li>
      <li>
        Text literals:<br/> 
        Aposztróf határolójel nélkül is működik bizonyos esetekben, de nem javasolt, mert nem minden esetben jó,
        például nem tartalmazhat space-t.
        <script type="text/plain">

''  
'one text'
'árvíztűrő'

        </script>
      </li>
      <li>
        Number literals: 
        <script type="text/plain">
            
7
-34.765

        </script>
      </li>
      <li>
        Boolean literals:
        <script type="text/plain">
            
true
false

        </script>
      </li>
      <li>
        Null literal:
        <script type="text/plain">
            
null

        </script>
      </li>
      <li>
        <b>NO OPERATION</b> literal.<br/>
        Jelentése: nem kell a műveletet elvégezni.
        <script type="text/plain">
            
_

        </script>
      </li>
      <li>
        Text operations:
        <script type="text/plain">
            
+
        </script>
      </li>
      <li>
        Literal substitutions:
        <script type="text/plain">
            
|The name is ${name}|

        </script>
      </li>
      <li>
        Numeric operations:
        <script type="text/plain">
            
+
-
*
/
%

        </script>
      </li>
      <li>
        Boolean operations:
        <script type="text/plain">
            
and
or
!
not

        </script>
      </li>
      <li>
        Comparators:
        <script type="text/plain">

==
!=
>
<
>=
<=

        </script>
      </li>
      <li>
        <b>IF-THEN-ELSE</b> operator:
        <script type="text/plain">
            
feltétel ? igaz-érték : hamis-érték

        </script>
      </li>
      <li>
        <b>IF-THEN</b> operator:
        <script type="text/plain">
            
feltétel ? igaz-érték       

        </script>
        ezzel egyenértékű: 
        <script type="text/plain">
        
feltétel ? igaz-érték : null        
        
        </script>
      </li>
      <li>
        <b>DEFAULT</b> operator.<br/> 
        Ha az érték <b>null</b>, akkor a <b>default-érték</b> lép életbe, bármely más esetben marad az eredeti érték.
        <script type="text/plain">
            
érték ?: default-érték

        </script>
      </li>
    </ul>
    <div class="altetel">példák</div>
    <ul>
      <li>
        A lenti példákban feltételezzük hogy a modelben: 
        <script type="text/plain">

"X" = "szöveg"
"N" = 1
"B" = false

        </script>
      </li>
      <li>
        thEL kifejezés értéke, illetve hatása:
        <script type="text/plain">
    
+----------------+            +---------------+
| thEL kifejezés |            | érték [hatás] |
+----------------+            +---------------+

'foo'                     ->  "foo"

'foo' + 'bar'             ->  "foobar"

3 + 5 - ${N}              ->  7

${X} + '!'                ->  "szöveg!"

null                      ->  null 
                              [th:text esetén üres string, th:attribútum esetén meg sem jelenik az attribútum]

''                        ->  ""   
                              [th:text esetén üres string, th:attribútum esetén meg sem jelenik az attribútum]

_                         ->  NO OPERATION 
                              [meg sem történik a művelet]  

${_}                      ->  null 
                              [th:text esetén üres string, th:attribútum esetén meg sem jelenik az attribútum]
                              Változóként próbálja értelmezni az aláhúzásjelet, de a model nem definiál ilyet ezért null
                             
${B} ? 'igaz'             ->  null 
                              [th:text esetén üres string, th:attribútum esetén meg sem jelenik az attribútum]

${B} ? 'igaz' : 'hamis'   ->  "hamis"

null ?: 'eznull'          ->  "eznull"

'' ?: ${X}                ->  ""

true or ${B}              ->  true
      
        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="expression-dollar" class="tetel">${...}</div>
    <ul>
      <li>
        Nemlétező elem elérése:
        <script type="text/plain">
          
${nemletezo}    ->   null
${nemletezo.x}  ->   TEMPLATE EXCEPTION: Property or field 'x' cannot be found on null

        </script>
      </li>
      <li>
        POJO elérése:
        <script type="text/plain">
          
${szemely.nemletezo}  ->   TEMPLATE EXCEPTION: Property or field 'nemletezo' cannot be found 
                           on object of type 'base.Szemely' - maybe not public? 
${szemely.nev}        ->   1. Ha a "szemely" objektumnak van "public getNev()" metódusa, akkor azt hívja meg.
                           2. Ha a "szemely" objektumnak van "public nev" tagja, akkor annak ez értékét kérdezi le.
                           3. Ha a fenti két pont egyike sem teljesül, akkor TEMPLATE EXCEPTION keletkezik.    
                           
        </script>
      </li>
      <li>
        Tömb, List egy elemének elérése:
        <script type="text/plain">
          
${array[3]}         ->  A tömb 3. eleme
${array.3}          ->  EXCEPTION! A szám miatt, ez nem használható
${array[myindex]}   ->  A tömb "myindex" változó által meghatározott eleme 

        </script>
        A tömb, List nemlétező indexére való hivatkozás exception-t okoz.<br/>
        Tömb, List esetén ha a []-en belül nem szám van, az mindig változónévként értelmeződik.
      </li>
      <li>
        Map egy elemének elérése kulcs alapján:
        <script type="text/plain">
          
${map[12]}              ->  12-es kulcshoz tartozó érték.
${map.12}               ->  EXCEPTION! A szám miatt, ez nem használható.
${map.xy}               ->  Az "xy" kulcshoz tartozó érték.
${map['[']}             ->  "[" kulcshoz tartozó érték
${map[nemletezo]}       ->  Egy nemlétező kulcshoz tartozó érték. Nem okoz exception-t, a kapott érték: null    
${map[#vars.mapkulcs]}  ->  A "mapkulcs" változó tartalmazza a kulcsot, melynek az értékét kapjuk 
${map[#vars.egyik.id + ',' + #vars.masik.id]}  ->  Ha összetettebb kifejezés állítja elő a kulcsot

        </script>
        Map esetén ha a [] tartalma sosem változónévként, hanem kulcs stringként értelmeződik. 
        Kivéve ha használjuk a #vars kifejezést!
      </li>
      <li>
        Http request paraméterhez való hozzáférés: 
        <script type="text/plain">
          
${param.xy}  ->  "xy" paraméter elérése. Ha nincs "xy" paraméter akkor null.

        </script>
        Amennyiben többször fordul elő az xy paraméter akkor az egyes elemeihez való hozzáférés:
        <script type="text/plain">
          
${param.xy[0]}  ->  Első elem. Exception keletkezik ha a 0-ás indexű elem nem létezik (index túlcímzés).
${param.xy[1]}  ->  Második elem. Exception keletkezik ha az 1-es indexű elem nem létezik (index túlcímzés).

        </script>
      </li>
      <li>
        Http session attribútumhoz való hozzáférés:
        <script type="text/plain">
          
${session.xy}  ->  HttpSession.setAttribute("xy", "...") metódussal beállított értékhez való hozzáférés

        </script>
        Ha nincs "xy" attribútum akkor null.
      </li>
      <li>
        Spring bean tagjához való hozzáférés (akár statikus, akár nem statikus tag):
        <script type="text/plain">
          
${@beanNév.tagNév}

        </script>
        Amennyiben a bean-nek nem adtunk külön nevet, akkor a kisbetűs módszerrel képezhető a neve: MyBean.java 
        esetén a név: "myBean".
      </li>
      <li>
        Spring bean metódushoz való hozzáférés:<br/>
        Hasznos ha például az alkalmazás címének minden lapon meg kell jelennie, ezt ne kelljen minden model-be betennni, 
        hanem egyetlen bean metódus adja vissza, és ez meghívható minden view-ból.
        <script type="text/plain">
          
${@beanNév.metódusNév()}

        </script>
        Amennyiben a bean-nek nem adtunk külön nevet, akkor a kisbetűs módszerrel képezhető a neve: 
        MyBean.java esetén a név: "myBean".
        <br/>
        Példa: a spring automatikusan létrehozza az Environment spring-bean-t, melynek segítségével
        hozzáférhetünk külső property-hez, ez a context-path elérése:
        <script type="text/plain">
          
${@environment.getProperty('server.servlet.context-path')}

        </script>
      </li>
      <li>
        Osztály (nem spring-bean) statikus tagjához hozzáférés.<br/>
        Fontos hogy az osztály nevet a package névvel együtt kell megadni "T()" -be zárva:
        <script type="text/plain">
          
${T(xesj.teszt.Constant).TITLE}

        </script>
      </li>
      <li>
        Osztály (nem spring-bean) statikus metódusához hozzáférés.<br/>
        Fontos hogy az osztály nevet a package névvel együtt kell megadni "T()" -be zárva:
        <script type="text/plain">
          
${T(xesj.teszt.Constant).metódusnév()}

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="expression-dollar-pp" class="tetel">__${...}__</div>
    <ul>
      <li>
        Ez a <b>preprocessing</b> kifejezés, vagyis 2 aláhúzásjel a kifejezés előtt és után.<br/>
        Nemcsak a $ elé írható, hanem a többi kifejezés elé is, például:
        <script type="text/plain">
          
__${...}__
__@{...}__
__#{...}__

        </script>
      </li>
      <li>
        A thymeleaf értelmező motor <b>minden előtt ezeket értékeli ki</b>.
      </li>
      <li>
        Olyan helyzetben is működik, amikor a <b>#vars</b> már csődöt mond.
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="expression-csillag" class="tetel">*{...}</div>
    <ul>
      <li>
        A <b>*{...}</b> kifejezéssel a <b>th:object</b> által definiált context-en belül lehet elérni az elemeket.
      </li>
      <li>
        1. példa: felhasználó adatainak elérésére <b>${...}</b> alkalmazásával: 
        <script type="text/plain">
          
<div th:text="${user.name}"></div>
<div th:text="${user.birthday}"></div>

        </script>
      </li>
      <li>
        2. példa: felhasználó adatainak elérésére <b>*{...}</b> alkalmazásával:
        <script type="text/plain">
          
<div th:object="${user}">
  <div th:text="*{name}"></div>
  <div th:text="*{birthday}"></div>
</div>

        </script>
      </li>
      <li>
        A módszerek bármikor keverhetők:
        <script type="text/plain">
          
<div th:object="${user}">
  <div th:text="*{name}"></div>
  <div th:text="${user.birthday}"></div>
</div>

        </script>
      </li>
      <li>
        Ha nincs <b>th:object</b> -tel definiált context, akkor a <b>${...}</b> és <b>*{...}</b> ugyanazt jelenti.
      </li>
      <li>
        A <b>*{...}</b> módszer főleg form-ok esetén használatos:
        <script type="text/plain">
          
<form th:object="${bean}" method="post">
  <input th:field="*{date}" type="text"/>
</form>

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="expression-kukac" class="tetel">@{...}</div>
    <ul>
      <li>
        A <b>@{...}</b> segítségével URL-eket lehet előállítani, amit például itt használhatunk: 
        <script type="text/plain">
          
<a th:href="@{...}">link</a>
<img th:src="@{...}"/>

        </script>
      </li>
      <li>
        Példa "/" jellel kezdődő url-re, amikor a thymeleaf kiegészíti az url-t context-path-szal:
        <script type="text/plain">
          
@{/abc/def}                         ->  /context-path/abc/def
@{/torles (a = 1, b = ${allat}) }   ->  /context-path/torles?a=1&b=macska

        </script>
      </li>
      <li>
        Példa nem "/" jellel kezdődő url megadására. Ezesetben nem egészül ki az url context path-szal:
        <script type="text/plain">
          
@{http://www.index.hu ( x = 1 )}    ->  http://www.index.hu?x=1
@{${url} ( x = ${x} )}              ->  (ha a model-ben lévő url nem kezdődik / jellel)

        </script>
      </li>
      <li>
        Http-get paraméter hozzáadásakor az URL-encoding automatikusan végrehajtódik UTF-8 kódolással:
        <script type="text/plain">
          
@{/megnez ( nev = 'árvíztűrő' )}    ->  /context-path/megnez?nev=%C3%A1rv%C3%ADzt%C5%B1r%C5%91
  
        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="expression-hashmark" class="tetel">#{...}</div>
    <ul>
      <li>
        A <b>#{...}</b> segítségével a <b>messages.properties</b> fájlban lévő bejegyzéseket lehet elérni.
      </li>
      <li>
        Példa a messages.properties-ben lévő bejegyzésre:
        <script type="text/plain">
            
my.teszt=Egyszer {0} hol {1} volt.
  
        </script>
        Ennek elérése úgy, hogy nem helyettesítjük be a {0} és {1} paramétereket, majd behelyettesítjük:
        <script type="text/plain">
            
#{my.teszt}              ->  Egyszer {0} hol {1} volt.
#{my.teszt (volt, nem)}  ->  Egyszer volt hol nem volt.

        </script>
        Ha kevesebb paramétert adunk meg, akkor csak egy részük lesz behelyettesítve, ha többet adunk meg, 
        akkor a feleslegesek figyelmen kívül maradnak.
      </li>
      <li>
        Használhatunk kifejezést is paraméterként:
        <script type="text/plain">
            
#{my.teszt (${a}, ${b})}  ->  Egyszer A_TARTALOM hol B_TARTALOM volt.
  
        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="expression-hullam" class="tetel">~{...}</div>
    <ul>
      <li>
        Ez a <b>fragment expression</b>, mely a <a href="#th-insert">th:insert</a> -nél használatos.
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="expression-pp" class="tetel">|...|</div>
    <ul>
      <li>
        A <b>|...|</b> kifejezést <b>literal substitutions</b>-nek nevezik.
      </li>
      <li>
        <b>|...|</b> használata esetén a pipe jelek közé zárt elemeket a thymeleaf sima szövegnek tekinti, 
        a literálok sem érvényesek, csak sima stringként értelmeződnek. 
        Csak a <b>${...}</b>, <b>*{...}</b>, <b>#{...}</b>, <b>@{...}</b> kifejezések értelmeződnek változó adatnak.
      </li>
      <li>
        Példa:
        <script type="text/plain">
            
<div th:text="|2 + 3 = ${2 + 3}|"></div>  ->  <div>2 + 3 = 5</div>

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="expression-sk" class="tetel">[(...)]</div>
    <ul>
      <li>
        A <b>[(...)]</b> segítségével inline módon illeszthetünk be model adatot a html szövegbe, html escape nélkül.
      </li>
      <li>
        Példa:
        <script type="text/plain">
            
Ma [(${nap})] van.
  
        </script>
        Itt ugyanaz történik mint a <b>th:utext</b> esetén, csak nincs befoglaló html tag (ami a th:utext esetén van). 
      </li>
      <li>
        Az adat nem lesz escape-elve.
      </li>
      <li>
        Lásd még: <b>th:inline</b>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="expression-ss" class="tetel">[[...]]</div>
    <ul>
      <li>
        A <b>[[...]]</b> segítségével inline módon illeszthetünk be model adatot a html szövegbe, html escape művelettel.
      </li>
      <li>
        Példa:
        <script type="text/plain">
            
Ma [[${nap}]] van.
  
        </script>
        Itt ugyanaz történik mint a <b>th:text</b> esetén, csak nincs befoglaló html tag (ami a th:text esetén van). 
      </li>
      <li>
        Az adat escape-elve lesz.
      </li>
      <li>
        Lásd még: <b>th:inline</b>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="function-arrays" class="tetel">#arrays</div>
    <ul>
      <li>
        <b>#arrays.length(...)</b><br/>
        Tömb elemszámának lekérdezése. A paraméter nem lehet null, mert az exception-t okoz. Működik List és Set osztályra is.
      </li>
      <li>
        <b>#arrays.isEmpty(...)</b><br/>
        Tömb ürességének lekérdezése, az eredmény boolean típusú. A paraméter lehet null is, erre true-t ad vissza. 
        Működik List és Set osztályra is.
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="function-dates" class="tetel">#dates</div>
    <ul>
      <li>
        A java.util.Date adattípus megjelenítését form-mezőben a spring formatter biztosítja.
      </li> 
      <li> 
        A java.util.Date adattípus form-mezőn kívüli megjelenése a <b>#dates</b> függvénnyel állítható be:
        <script type="text/plain">
            
${#dates.format(datum, 'yyyy.MM.dd')}  <-  dátum "ÉÉÉÉ.HH.NN" formában
${#dates.dayOfWeekName(datum)}         <-  dátum a hét napja formában: "hétfő", "kedd", ... (függ a locale-tól)

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="function-ids" class="tetel">#ids</div>
    <ul>
      <li>
        <b>#ids.seq('név')</b><br/>
        Html id-k gyártása, melyet általában a th:id -vel használnak együtt. A kifejezést többször végrehajtva a 
        következő id-ket állítja elő:
        <script type="text/plain">
            
név1, név2, név3, ...

        </script>
        A név lehet üres string is, ezesetben a következő id-ket állítja elő:
        <script type="text/plain">
            
1, 2, 3, ...

        </script>
        Vegyesen is lehet a neveket használni, minden névnél az id 1-től kezdődik, ez adódik hozzá a névhez.
      </li>
      <li>
        <b>#ids.prev('név')</b><br/>
        A megadott névvel utoljára kiadott id-t adja vissza, például: név13<br/>
        Ha még nem volt ezzel a névvel létrehozott id, az exception-t okoz.
      </li>
      <li>
        <b>#ids.next('név')</b><br/>
        A megadott névvel ez az id lesz kiadva, ha majd meghívásra kerül az <b>#ids.seq('név')</b><br/>  
        Ha még nem volt ezzel a névvel létrehozott id, akkor ezt adja vissza: név1        
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="function-lists" class="tetel">#lists</div>
    <ul>
      <li>
        <b>#lists.size(...)</b><br/>
        List elemszámának lekérdezése. A paraméter nem lehet null, mert az exception-t okoz. 
        Működik tömbre és Set osztályra is.
      </li>
      <li>
        <b>#lists.isEmpty(...)</b><br/>
        List ürességének lekérdezése, az eredmény boolean típusú. A paraméter lehet null is, erre true-t ad vissza. 
        Működik tömbre és Set osztály is.
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="function-maps" class="tetel">#maps</div>
    <ul>
      <li>
        <b>#maps.size(...)</b><br/>
        Map elemszámának lekérdezése. A paraméter nem lehet null, mert az exception-t okoz.
      </li>
      <li>
        <b>#maps.isEmpty(...)</b><br/>
        Map ürességének lekérdezése, az eredmény boolean típusú. A paraméter lehet null is, erre true-t ad vissza.
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="function-numbers" class="tetel">#numbers</div>
    <ul>
      <li>
        Numerikus adattípus formázott megjelenítése.<br/> 
        Két metódusa van: <b>formatInteger()</b> mely egész számot, <b>formatDecimal()</b> mely lebegőpontos számot formáz.
      </li>
      <li>
        A <b>formatXXX()</b> metódusok a null értéket is jól kezelik, mert helyette "" stringet adnak vissza. 
      </li>
      <li>
        Ha ez egész értéknél pont annyi számjegyre van szükség amennyit a szám tartalmaz, 
        akkor 0-ás értéket adjunk az egész számjegyek számának.
      </li>
      <li>
        Ezres elválasztó, és tizedes jel csak a következők lehetnek:
        <script type="text/plain">
            
'POINT', 'COMMA', 'WHITESPACE', 'NONE', vagy 'DEFAULT' (locale szerinti)

        </script>
      </li>
      <li>
        A formatInteger() és formatDecimal() metódusokhoz is használhatók a Number adattípusok, 
        ezek a típusok biztos használhatók: 
        <script type="text/plain">
            
Integer, int, Long, long, BigInteger, BigDecimal, double, Double

        </script>
      </li>
      <li>
        #numbers.formatInteger() paraméterezései:
        <script type="text/plain">
            
#numbers.formatInteger(szám, számjegyek minimális száma)
#numbers.formatInteger(szám, számjegyek minimális száma, ezres elválasztó)

        </script>
      </li>
      <li>
        Példák egy egész szám (1234567) megjelenítése:<br/>   
        Minimum 9 számjegy megjelenítése, ezres elválasztó space legyen:
        <script type="text/plain">
            
${#numbers.formatInteger(szam, 9, 'WHITESPACE')}  ->  001 234 567

        </script>
        Annyi számjegy megjelenítése amit a szám tartalmaz, ezres elválasztó vessző legyen:
        <script type="text/plain">
            
${#numbers.formatInteger(szam, 0, 'COMMA')}  ->  1,234,567

        </script>
        Annyi számjegy megjelenítése amit a szám tartalmaz, nincs ezres elválasztó:
        <script type="text/plain">
            
${#numbers.formatInteger(szam, 0)}  ->  1234567

        </script>
      </li>
      <li>
        #numbers.formatDecimal() paraméterezései:
        <script type="text/plain">
            
#numbers.formatDecimal(szám, egész számjegyek minimális száma, tizedes számjegyek pontos száma)
#numbers.formatDecimal(szám, egész számjegyek minimális száma, tizedes számjegyek pontos száma, tizedes jele)
#numbers.formatDecimal(
  szám, egész számjegyek minimális száma, 
  ezres elválasztó jele, 
  tizedes számjegyek pontos száma, tizedes jele
)

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="function-sets" class="tetel">#sets</div>
    <ul>
      <li>
        <b>#sets.size(...)</b><br/>
        Set elemszámának lekérdezése. A paraméter nem lehet null, mert az exception-t okoz. 
        Működik tömbre és List osztályra is.
      </li>
      <li>
        <b>#sets.isEmpty(...)</b><br/>
        Set ürességének lekérdezése, az eredmény boolean típusú. A paraméter lehet null is, erre true-t ad vissza. 
        Működik tömbre és List osztályra is.
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="function-strings" class="tetel">#strings</div>
    <ul>
      <li>
        <b>#strings.abbreviate(...)</b><br/>
        Adat levágása ha a megadott hosszt túlhaladja. Ha levágás történik, akkor kiegészíti "..." karakterekkel, például:
        <script type="text/plain">
            
${#strings.abbreviate(megjegyzes, 20)}  <-  Ez egy hosszú meg... 

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="function-temporals" class="tetel">#temporals</div>
    <ul>
      <li>
        A LocalDate, LocalTime adattípus megjelenítését form-mezőben a spring formatter biztosítja.
      </li> 
      <li> 
        A LocalDate, LocalTime adattípus form-mezőn kívüli megjelenése a <b>#temporals</b> függvénnyel állítható be:
        <script type="text/plain">
            
${#temporals.format(datum, 'uuuu.MM.dd HH:mm:ss')}  <-  dátum "éééé.hh.nn óó:pp:mm" formában
${#temporals.dayOfWeekName(datum)}  <-  dátum a hét napja formában: "hétfő", "kedd", ... (függ a locale-tól)

        </script>
      </li>
      <li>
        A <b>BuildProperties</b> spring-bean build időponját mutattó <b>getTime</b> is jól formázható vele,
        és a build magyar időpontját fogja megjeleníteni:
        <script type="text/plain">

${#temporals.format(@buildProperties.getTime, 'uuuu.MM.dd HH:mm')}

        </script>
      </li>
      <li>
        A <b>#temporals</b> nem része a thymeleaf alapcsomagnak, azonban ha a pom.xml-ben használjuk a 
        <b>spring-boot-starter-thymeleaf</b> -et, akkor az behúzza a <b>thymeleaf-extras-java8time</b> csomagot, 
        mely tartalmazza a #temporals függvényt!
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="function-vars" class="tetel">#vars</div>
    <ul>
      <li>
        Hozzáférés a változókhoz. 
      </li>
      <li>
        Például a <b>${something}</b> ugyanaz mint a <b>${#vars.something}</b>, ezesetben felesleges a #vars használata.
      </li>
      <li>
        Előnye akkor van ha egy stringet a thymeleaf nem akar változóként értelmezni, de a #vars használatával 
        kikényszeríthető a változóként értelmezés.<br/> 
        Például map használatakor a kulcs a <b>mapkulcs</b> változóban van, de a <b>mapkulcs</b> 
        itt string-ként értelmeződik:
        <script type="text/plain">
            
${map[mapkulcs]}

        </script>
        helyette ezt kell használni:
        <script type="text/plain">
            
${map[#vars.mapkulcs]}

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="application-yml" class="tetel">application.yml</div>
    <ul>
      <li>
        Fontosabb beállítások az <b>application.yml</b> fájlban, mely a thymeleaf-re vonatkozik:
        <ul>
          <li>
            Enable template caching.
            <script type="text/plain">
                
spring.thymeleaf.cache: true

            </script>
          </li>
          <li>
            Template encoding.
            <script type="text/plain">
                
spring.thymeleaf.encoding: "UTF-8" 

            </script>
          </li>
          <li>
            Template mode to be applied to templates. See also StandardTemplateModeHandlers.
            <script type="text/plain">
                
spring.thymeleaf.mode: "HTML5" 

            </script>
          </li>
          <li>
            Prefix that gets prepended to view names when building a URL. Default --&gt; classpath:/templates/
            <script type="text/plain">
                
spring.thymeleaf.prefix: "classpath:/templates/" 

            </script>
          </li>
          <li>
            Suffix that gets appended to view names when building a URL. Default --&gt; .html
            <script type="text/plain">
                
spring.thymeleaf.suffix: ".html" 

            </script>
          </li>
        </ul>
      </li>
      <li>
        Javasolt beállítások:
        <ul>
          <li>
            A html-ek a "view" könyvtárban vannak.<br/>
            (nem kell a végére "/" jel, mert a controllerben így adjuk meg: /menu.html, és emiatt hibás lenne a dupla "/" jel)
            <script type="text/plain">
                
spring.thymeleaf.prefix: "classpath:/view"

            </script>
          </li>
          <li>
            Nincs suffix, ugyanis ezt kiírjuk a view megadásakor a controllerben, például: /menu.html
            <script type="text/plain">
                
spring.thymeleaf.suffix: ""
  
            </script>
          </li>
          <li>
            Az újabb thymeleaf már nem támogatja a HTML5 módot, ezt üzeni:<br/> 
            "Template Mode 'HTML5' is deprecated. Using Template Mode 'HTML' instead."<br/>
            Ezért ezt kell beállítani:
            <script type="text/plain">
                
spring.thymeleaf.mode: "HTML" 

            </script>
          </li>
        </ul>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="attribute-precedence" class="tetel">attribute precedence</div>
    <ul>
      <li>
        Egy html tagon belüli <b>th</b> attribútumoknak előre meghatározott a precedenciájuk, 
        vagyis az hogy melyiket hajtja előbb végre a thymeleaf template értelmező. 
        Így tehát mindegy milyen sorrendben írjuk le őket.
      </li>
      <li>
        Például a <b>th:each</b> mindig előbb hajtódik végre mint a <b>th:text</b>, így a következő 2 kifejezés egyenértékű: 
        <script type="text/plain">
            
<li th:each="item : ${items}" th:text="${item.description}"></li>
<li th:text="${item.description}" th:each="item : ${items}"></li>

        </script>
      </li>
      <li>
        Dokumentáció: thymeleaf-using.pdf 10-es pontja  
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="conversion-service" class="tetel">conversion service</div>
    <ul>
      <li>
        <b>EZ A FUNKCIÓ NEM MŰKÖDIK A FORMON KÍVÜL, PEDIG A THYMELEAF DOKUMENTÁCIÓ SZERINT A FORMON KÍVÜL IS MŰKÖDŐKÉPES.</b>
      </li>
      <li>
        Formon belül az input elemeknél automatikusan működik a <b>conversion service</b>, 
        vagyis az objektumok úgy jelennek meg ahogy a spring context-ben a formatterek/konverterek definiálják a 
        string &lt;--&gt; objektum konverziót.
      </li>
      <li>
        Más elemeknél ha szeretnénk a <b>conversion service</b> szerinti megjelenést, 
        akkor a dupla kapcsos-zárójelet kell használni: 
        <script type="text/plain">
            
${{...}} 
*{{...}}

        </script>
      </li>
      <li>
        Például ha a spring-ben a dátumra az <b>éééé.hh.nn</b> formátum van beállítva, akkor egy dátum megjelenítése:   
        <script type="text/plain">
            
<div th:text="${datum}"></div>

        </script>
        esetén a dátum objektum toString() szerint jelenik meg: 
        <script type="text/plain">
            
Sun Aug 13 18:42:20 CEST 2017

        </script>
        de ha bekapcsoljuk a conversion service-t:
        <script type="text/plain">
            
<div th:text="${{datum}}"></div>

        </script>
        akkor a springben definiált formatter/konverter szerint ez jelenik meg:
        <script type="text/plain">
            
2017.08.13

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="form" class="tetel">form</div>
    <ul>
      <li>
        Használat:
        <script type="text/plain">

<form th:object="${...}" th:action="@{...}" method="post">
  ...
</form>

        </script>
      </li>
      <li>
        A <b>th:object</b> megadása kötelező.
      </li>
      <li>
        A <b>th:action</b> elhagyható, de mindig adjuk meg!
      </li>
      <li>
        A method <b>post</b> típusú.
      </li>
      <li>
        A formon belül a mezőkre <b>*{...}</b> módon kell hivatkozni.
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="form-checkbox" class="tetel">form checkbox</div>
    <div class="altetel">A checkbox-ról általában</div>
    <ul>
      <li>
        A spring a generált html-ben a mezőhöz tartozó "id"-t a "name"-hez képest egy számmal is kiegészíti.<br/>
        Ezért ha <b>&lt;label&gt;</b>-t használunk a checkbox-hoz, az id-re dinamikusan kell hivatkozni az 
        <b>#ids.next()</b> vagy <b>#ids.prev()</b> segítségével.
      </li>
    </ul>
    <div class="altetel">
      Single checkbox: olyan checkbox melynek "name" attribútum értéke csak egyszer szerepel a formon belül
    </div>
    <ul>
      <li>
        Használat:
        <script type="text/plain">

<label th:for="${#ids.next('mezőnév')}">Valóban ?</label>
<input th:field="*{mezőnév}" type="checkbox"/>
<div th:if="${#fields.hasErrors('mezőnév')}" th:errors="*{mezőnév}" class="hibaosztály"></div>

        </script>
      </li>
      <li>
        A hozzátartozó model csak <b>boolean</b> típusú lehet!
      </li>
      <li>
        Nem használható hozzá a <b>th:value</b>, illetve használata esetén figyelmen kívül marad ! 
      </li>
    </ul>
    <div class="altetel">Multiple checkbox: több checkbox melyeknek ugyanaz a "name" attribútuma</div>
    <ul>
      <li>
        java:
        <script type="text/plain">
            
import xesj.spring.html.Option;
private List<Option> mountains; // Összes választható hegycsúcs (kódok, és megjelenő szövegek)
private List<String> summits;   // Megmászott hegycsúcsok. Ide töltődnek be a hegycsúcsok kódjai form submit után.
                                   A típus lehet például List<Integer> is, 
                                   ha a List<Option> kódjai Integer-re konvertálhatók!
                                   
        </script>
      </li>
      <li>
        html:
        <script type="text/plain">

<div th:each="item : *{mountains}">
  <input type="checkbox" th:field="*{summits}" th:value="${item.value}"/>
  <label th:for="${#ids.prev('summits')}" th:text="${item.display}"></label>
</div>
<div th:if="${#fields.hasErrors('summits')}" th:errors="*{summits}" class="hibaosztály"></div>

        </script>
      </li>
      <li>
        Form submit esetén a multiple checkbox "value" értékei kerülnek elküldésre a form bean mezőhöz.
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="form-errors" class="tetel">form errors</div>
    <div class="altetel">A form errors-ról általában</div>
    <ul>
      <li>
        A hibákat mindig a formon belül irassuk ki !
      </li>
    </ul>
    <div class="altetel">Field errors: mezőhöz rendelt hibák</div>
    <ul>
      <li>
        (1) Mező kinézetének megváltoztatása class hozzárendelésével:
        <script type="text/plain">

<input type="text" th:field="*{mezőnév}" th:class="${#fields.hasErrors('mezőnév')} ? 'hibaosztály'"/>

        </script>
        de ennél jobb megoldás a <b>th:errorclass</b> használata:
        <script type="text/plain">

<input type="text" th:field="*{mezőnév}" class="eredeti" th:errorclass="hibaosztály"/>

        </script>
        Ha a mező nem hibás akkor csak a <b>class="eredeti"</b> kerül a html-be, ha hibás akkor pedig a 
        <b>class="eredeti hibaosztály"</b>,
        vagyis a <b>th:errorclass</b> -nál megnevezett osztály hozzáadódik az eredeti class-hoz.
      </li>
      <li>
        (2) Mezőhöz tartozó hibaszövegek kiírása a mező közelében:<br/>
        A hibaszövegek tetszőlegesen formázhatók, például megjelenítés &lt;ul&gt;...&lt;/ul&gt; formában:
        <script type="text/plain">

<ul>
  <li th:each="err : ${#fields.errors('mezőnév')}" th:text="${err}" class="hibaosztály"/>
</ul>

        </script>
        vagy pedig ha megelégszünk hogy a mezőhöz tartozó hibaszövegek csak egy &lt;br/&gt; 
        jellel lesznek egymástól elválasztva:
        <script type="text/plain">

<div th:if="${#fields.hasErrors('mezőnév')}" th:errors="*{mezőnév}" class="hibaosztály"></div>

        </script>
        melynek megjelenése a html-ben 2 mezőhiba esetén:
        <script type="text/plain">

<div class="hibaosztály">mezőhiba1<br/>mezőhiba2</div>

        </script>
      </li>
    </ul>
    <div class="altetel">Global errors: nem mezőhöz rendelt hibák</div>
    <ul>
      <li>
        A globális hibák megjelenítése például &lt;ul&gt;...&lt;/ul&gt; formában:
        <script type="text/plain">

<ul th:if="${#fields.hasGlobalErrors()}">
  <li th:each="err : ${#fields.globalErrors()}" th:text="${err}" class="hibaosztály"></li>
</ul>

        </script>
      </li>
    </ul>
    <div class="altetel">Összes hiba kiiratása: field errors + global errors</div>
    <ul>
      <li>
        Hasznos lehet ha egy oldalon nem minden hiba kerül kiírásra, és nyomozni kell a nem megjelenő hibák után.
      </li>
      <li>
        Példa az összes hiba kiiratására:  
        <script type="text/plain">

<ul>
  <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global} ? 'globalerr' : 'fielderr'">
    <span th:text="${e.global} ? 'GLOBAL ERROR' : ${e.fieldName}">The field name</span> 
    |
    <span th:text="${e.message}">The error message</span>
  </li>
</ul>

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="form-radiobutton" class="tetel">form radiobutton</div>
    <ul>
      <li>
        A spring a generált html-ben a mezőhöz tartozó "id"-t a "name"-hez képest egy számmal is kiegészíti.<br/>
        Ezért ha <b>&lt;label&gt;</b>-t használunk a radiogomb-hoz, 
        az "id"-re dinamikusan kell hivatkozni az <b>#ids.next()</b> vagy <b>#ids.prev()</b> segítségével.
      </li>
      <li>
        java:
        <script type="text/plain">
            
import xesj.spring.html.Option;
private List<Option> szinek; // Összes választható szín (kódok, és megjelenő szövegek)
private String kedvencszin;  // Kedvenc szín. Ide töltődik be a szín kódja form submit után.
                                A típus lehet például Integer is, ha a List&lt;Option&gt; kódjai Integer-re konvertálhatók!
                                
        </script>
      </li>
      <li>
        html:
        <script type="text/plain">

<div th:each="item : *{szinek}">
  <input type="radio" th:field="*{kedvencszin}" th:value="${item.value}"/>
  <label th:for="${#ids.prev('kedvencszin')}" th:text="${item.display}"></label>
</div>
<div th:if="${#fields.hasErrors('kedvencszin')}" th:errors="*{kedvencszin}" class="hibaosztály"></div>

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="form-select" class="tetel">form select</div>
    <div class="altetel">Single select: nincs "multiple" attribútuma</div>
    <ul>
      <li>
        java:
        <script type="text/plain">
            
import xesj.spring.html.Option;
private List<Option> szinek; // Összes választható szín (kódok, és megjelenő szövegek)
private String kedvencszin;  // Kedvenc szín. Ide töltődik be a szín kódja form submit után.
                                A típus lehet például Integer is, ha a List<Option> kódjai Integer-re konvertálhatók!
                                
        </script>
      </li>
      <li>
        html:
        <script type="text/plain">

<select th:field="*{kedvencszin}">
  <option th:each="item : ${szinek}" th:value="${item.value}" th:text="${item.display}"></option>
</select>
<div th:if="${#fields.hasErrors('kedvencszin')}" th:errors="*{kedvencszin}" class="hibaosztály"></div>

        </script>
      </li>
    </ul>
    <div class="altetel">Multiple select: van "multiple" attribútuma</div>
    <ul>
      <li>
        java:
        <script type="text/plain">
            
import xesj.spring.html.Option;
private List<Option> szinek;         // Összes választható szín (kódok, és megjelenő szövegek)
private List<String> kedvencszinek;  // Kedvenc szinek. Ide töltődnek be a szín kódok form submit után. 
                                        A típus lehet például List<Integer> is, 
                                        ha a List<Option> kódjai Integer-re konvertálhatók!
        </script>
      </li>
      <li>
        html:
        <script type="text/plain">

<select th:field="*{kedvencszinek}" multiple="multiple">
  <option th:each="item : ${szinek}" th:value="${item.value}" th:text="${item.display}"></option>
</select>
<div th:if="${#fields.hasErrors('kedvencszinek')}" th:errors="*{kedvencszinek}" class="hibaosztály"></div>

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="form-textarea" class="tetel">form textarea</div>
    <ul>
      <li>
        html:
        <script type="text/plain">

<textarea th:field="*{mezőnév}"/>
<div th:if="${#fields.hasErrors('mezőnév')}" th:errors="*{mezőnév}" class="hibaosztály"></div>

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="form-textfield" class="tetel">form textfield</div>
    <div class="altetel">Single textfield</div>
    <ul>
      <li>
        html:
        <script type="text/plain">

<input th:field="*{mezőnév}" type="text"/>
<div th:if="${#fields.hasErrors('mezőnév')}" th:errors="*{mezőnév}" class="hibaosztály"></div>

        </script>
      </li>
    </ul>
    <div class="altetel">Multiple textfield</div>
    <ul>
      <li>
        Ebben az esetben a java tömb-ként (list-ként) fogadja az űrlap ezen elemeit.<br/>
        A html szabvány szerint ezen mezőknek ugyanaz a <b>name</b> attribútuma, 
        de szögletes zárójelben index-szel vannak ellátva,<br/> 
        így az index meghatározza, hogy melyik tömb elemről (list elemről) van szó.
      </li>
      <li>
        java:
        <script type="text/plain">
          
List<String> words;
            
        </script>
      </li>
      <li>
        html:
        <script type="text/plain">

<div th:each="item: *{words}">
  <input th:field="*{words[__${itemStat.index}__]}" type="text"/>
</div>

        </script>
        Az index beillesztése csak <b>preprocessing</b> módon lehetséges!
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="no-operation" class="tetel">no operation</div>
    <ul>
      <li>
        A <b>no operation</b> -t egy aláhúzásjellel jelöljük, melynek jelentése: a műveletet nem kell végrehajtani.
      </li>
      <li>
        Használható akkor, ha azt szeretnénk hogy a <b>th:text</b> ne töltse ki a tag belsejét, 
        vagy egy attribútum felülírása ne történjen meg.
      </li>
      <li>
        Példa, ahol a statikus attribútum felülírása nem történik meg:
        <script type="text/plain">
            
<div th:data-akarmi="_" data-akarmi="eredeti"></div>  

        </script>
        eredménye:
        <script type="text/plain">
            
<div data-akarmi="eredeti"></div> 

        </script>
      </li>
      <li>
        Példa, ahol a tag belseje nem íródik felül:  
        <script type="text/plain">
            
<div th:text="_">eredeti</div>  

        </script>       
        eredménye:
        <script type="text/plain">
            
<div>eredeti</div> 

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="th-akarmi" class="tetel">th:akarmi</div>
    <ul>
      <li>
        A "th:" után nem csak szabványos elnevezések lehetnek hanem akármi is, például:
        <script type="text/plain">
            
<div th:akarmi="${adat}">hahó</div>

        </script>
        Ezesetben ha a modelben az adat=123 akkor a generált html:
        <script type="text/plain">
            
<div akarmi="123">hahó</div>

        </script>
        Vagyis a "th:akarmi" a renderelt html-ben "akarmi"-ként fog megjelenni, és a kifejezés is kiértékelődik. 
      </li>
      <li>
        A html-ben megengedett a tetszőleges "data-akarmi" attribútum használata, így például:
        <script type="text/plain">
            
<p th:data-akarmi="${adat}">hahó</p>

        </script>
        ilyen html-t renderel:
        <script type="text/plain">
            
<p data-akarmi="123">hahó</p>

        </script>
      </li>
      <li>
        Egy th:akarmi tag csak egyszer szerepelhet egy html tag-en belül!
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="th-attrappend" class="tetel">th:attrappend</div>
    <ul>
      <li>
        Statikus html attribútumhoz hozzáírás, vagyis az eredeti attribútum érték után írás. 
      </li>
      <li>
        A hozzáíráskor nem rak be space-t az eredeti és a hozzáírandó string közé, tehát ha ez a cél akkor nekünk kell 
        a space-t megadni.
      </li>
      <li>
        Ha a <b>class</b> attribútumhoz akarunk hozzáírni, akkor szebb megoldás ha a <b>th:classappend</b> -et használjuk! 
      </li>
      <li>
        Ha a <b>style</b> attribútumhoz akarunk hozzáírni, akkor szebb megoldás ha a <b>th:styleappend</b> -et használjuk! 
      </li>
      <li>
        Példa:
        <script type="text/plain">
            
<div data-akarmi="eredeti" th:attrappend="data-akarmi=' hozzáírandó'"></div>

        </script>
        eredménye:
        <script type="text/plain">
            
<div data-akarmi="eredeti hozzáírandó"></div>

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="th-attrprepend" class="tetel">th:attrprepend</div>
    <ul>
      <li>
        Statikus html attribútum elé írás. 
      </li>
      <li>
        Az eléírás nem rak be space-t az eredeti és az eléírandó string közé, 
        tehát ha ez a cél akkor nekünk kell a space-t megadni.
      </li>
      <li>
        Példa:
        <script type="text/plain">
            
<div data-akarmi="eredeti" th:attrprepend="data-akarmi='eléírandó '"></div>

        </script>
        eredménye:
        <script type="text/plain">
            
<div data-akarmi="eléírandó eredeti"></div>

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="th-block" class="tetel">th:block</div>
    <ul>
      <li>
        A thymeleaf egyetlen nem attribútuma, hanem tag-je, mely <b>virtuális tag</b> -nek fogható fel, 
        így nem is generál html-tagot ! 
      </li>
      <li>
        Példa: egy &lt;div&gt; és &lt;p&gt; elemet egyszerre kell megjeleníteni, vagy elrejteni:
        <script type="text/plain">
            
<th:block th:if="${lathato}">
  <div>...</div>
  <p>...</p>
</th:block>

        </script>
      </li>
      <li>
        Példa: egy th:each ciklusban minden elemre két táblázat sort kell megjeleníteni:
        <script type="text/plain">
            
<th:block th:each="user : ${users}">
  <tr>...</tr>
  <tr>...</tr>
</th:block>

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="th-classappend" class="tetel">th:classappend</div>
    <ul>
      <li>
        Hozzáírás a statikus <b>class</b> attribútumhoz, vagyis az eredeti attribútum érték után írás. 
      </li>
      <li>
        A hozzáíráskor automatikusan bekerül egy space az eredeti és a hozzáírandó string közé.
      </li>
      <li>
        Nem okoz problémát ha a html tagnak nincs <b>class</b> attribútuma.
      </li>
      <li>
        Példa:
        <script type="text/plain">
            
<div class="ab" th:classappend="'plus'"></div>

        </script>
        eredménye:
        <script type="text/plain">
            
<div class="ab plus"></div>

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="th-each" class="tetel">th:each</div>
    <ul>
      <li>
        <b>Array, List, Set</b> megjelenítése.<br/>
        Tegyük fel hogy a model-ben "array" névvel van egy Array, List, vagy Set, melynek elemei egyszerű stringek.
        Már a <b>th:each</b> attribútumot tartalmazó html tag-ben, vagy ezen belüli tag-ekben is 
        hivatkozhatunk a tömb egy elemére, amit a példában az <b>item</b> ciklusváltozó reprezentál: 
        <script type="text/plain">
            
<ul>
  <li th:each="item: ${array}" th:text="${item}"></li>
</ul>

        </script>
      </li>
      <li>
        <b>Map</b> megjelenítése.<br/>
        Tegyük fel hogy a model tartalmaz egy Map objektumot "map" névvel. A map egy elemét az <b>item</b> 
        ciklusváltozó reprezentálja.
        Az <b>item.key</b> kifejezéssel érhető el a kulcs, az <b>item.value</b> kifejezéssel pedig az érték:
        <script type="text/plain">
            
<ul>
  <li th:each="item: ${map}" th:text="${item.key + ':' + item.value}"></li>
</ul>

        </script>
      </li>
      <li>
        A th:each attribútumnak nem okoz problémát ha az Array, List, Set, Map == null, exception nem keletkezik, 
        olyan mintha üresek lennének! 
      </li>
      <li>
        A th:each ciklusnak van státusza is, amit egy státuszváltozó reprezentál. A státuszváltozó neve a ciklusváltozó 
        nevéből képződik, egy "Stat" hozzáadásával, tehát ha a ciklusváltozó neve "item", akkor a státuszváltozó "itemStat". 
        Ha nem ilyen nevű státuszváltozót szeretnénk használni, akkor megadható egy másik név például:
        <script type="text/plain">
            
th:each="item, mystatusz: ${array}"

        </script>
      </li>
      <li>
        Státusz állapotok lekérdezése (a példában itemStat státuszváltozó-ból):
        <script type="text/plain">
            
itemStat.first  ->  Az első elemnél true, különben false. Boolean típusú.

itemStat.last   ->  Az utolsó elemnél true, különben false. Boolean típusú.

itemStat.index  ->  A ciklus indexe 0-tól kezdve, értékei: 0, 1, 2, 3, ...

itemStat.count  ->  A ciklus indexe 1-től kezdve, értékei: 1, 2, 3, 4, ...

itemStat.size   ->  Az összes elem száma. Állandó érték, tehát független attól hol tart a ciklus.

itemStat.even   ->  Páros elemeknél true, különben false. 1-től számol, így az első elem false. Boolean típusú.

itemStat.odd    ->  Páratlan elemeknél true, különben false. 1-től számol, így az első elem true. Boolean típusú.

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="th-fvba" class="tetel">th:FVBA</div>
    <ul>
      <li>
        <b>F</b>ixed <b>V</b>alue <b>B</b>oolean <b>A</b>ttributes (FVBA)<br/>
        Azokat a html attribútumokat nevezzük FVBA-nak melyeknek csak egyetlen értéke lehet, más nem. Ilyenek például:
        <script type="text/plain">
            
disabled="disabled" 
readonly="readonly" 
checked="checked" 
selected="selected"

        </script>
      </li>
      <li>
        Ezen elemek <b>th:</b> megfelelője úgy működik, hogy csak egy boolean típusú kifejezést kell bennük megadni, 
        a thymeleaf automatikusan a megfelelő értékre konvertálja. Ezek az elemek:
        <script type="text/plain">
            
th:async, th:autofocus, th:autoplay, th:checked, th:controls, th:declare, th:default, th:defer, 
th:disabled, th:formnovalidate, th:hidden, th:ismap, th:loop, th:multiple, th:novalidate, th:nowrap, 
th:open, th:pubdate, th:readonly, th:required, th:reversed, th:scoped, th:seamless, th:selected

        </script>
      </li>
      <li>
        Példa:
        <script type="text/plain">
            
<input type="checkbox" th:checked="true"/>

        </script>
        eredménye:
        <script type="text/plain">
            
<input type="checkbox" checked="checked"/>

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="th-if" class="tetel">th:if</div>
    <ul>
      <li>
        Html elem megjelenésének vezérlése. Ha a <b>th:if</b> feltétel nem teljesül a html elem, 
        és a gyerek elemek sem jelennek meg.
      </li>
      <li>
        A feltétel nemcsak logikai, hanem bármilyen típus lehet.
      </li>
      <li>
        Csak a táblázatban felsorolt esetek minősülnek <b>FALSE</b>-nak:
        <table class="alap">
          <tr>
            <th>Típus</th>
            <th>Érték</th>
          </tr>          
          <tr>
            <td></td>
            <td>null</td>
          </tr>          
          <tr>
            <td>String</td>
            <td>trim() + toLowerCase() után az értéke: "false" vagy "off" vagy "no"</td>
          </tr>          
          <tr>
            <td>Number</td>
            <td>0</td>
          </tr>          
          <tr>
            <td>Boolean</td>
            <td>false</td>
          </tr>          
        </table>
        Minden más ami nincs a táblázatban: TRUE
      </li>
      <li>
        Tegyük fel hogy a model-ben szerepel egy személy objektum, erre hivatkozik a view:
        <script type="text/plain">
            
<div th:if="${szemely}">megjelenik</div>

        </script>
        eredménye:
        <script type="text/plain">
            
<div>megjelenik</div>

        </script>
        mivel a th:if igaznak minősül: nem Boolean, nem Number, nem String típusú, és az értéke sem null.
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="th-inline" class="tetel">th:inline</div>
    <ul>
      <li>
        A <b>[[...]]</b> és <b>[(...)]</b> különleges értelmezése kikapcsolható a <b>th:inline="none"</b> használatával: 
        <script type="text/plain">
            
<p th:inline="none">Kétdimenziós tömb megadása: [[1, 2, 3], [4, 5]]!></p>

        </script>
      </li>
      <li>
        <b>Css</b> esetén a [[...]] és [(...)] használata <b>th:inline="css"</b> módon ajánlott: 
        <script type="text/plain">
            
<style th:inline="css">
...
</style>

        </script>
      </li>
      <li>
        <b>Javascript</b> esetén a [[...]] és [(...)] használata <b>th:inline="javascript"</b> módon ajánlott.
        <script type="text/plain">
            
<scrípt th:inline="javascript">
  var username = [[${name}]];
</scrípt>

        </script>
        A generált javascript-nél berakja az idézőjelet és javascript escape-et is végez:
        <script type="text/plain">
            
<scrípt>
  var username = "Peter\"s pub";
</scrípt>

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="th-insert" class="tetel">th:insert</div>
    <ul>
      <li>
        A <b>th:insert</b> segítségével egy template fájlba beilleszthető egy másik template egy darabja (fragment-je).
      </li>
      <li>
        Dokumentáció: thymeleaf-using.pdf 8.2-es pontja  
      </li>
    </ul>
    <div class="altetel">Fragment létrehozása</div>
    <ul>
      <li>
        A létrehozás egy tetszőleges template-ben lehetséges a <b>th:fragment</b> segítségével:
        <script type="text/plain">
            
<th:block th:fragment="fragmentNév">
  ...
</th:block>

        </script>
      </li>
      <li>
        A <b>&lt;th:block&gt;</b> helyett használható más html tag is!
      </li>
      <li>
        Beillesztéskor ez a <b>th:fragment</b>-et tartalmazó tag, és a gyerekelemei is bekerülnek a fogadó html-be, 
        tehát ha a <b>th:fragment</b>-et tartalmazó tagot nem akarjuk beilleszteni, akkor használjuk a 
        <b>&lt;th:block&gt;</b> -ot ami sosem jelenik meg.
      </li>
    </ul>
    <div class="altetel">Fragment beillesztése</div>
    <ul>
      <li>
        Beillesztés egy template-be, ahol meg kell nevezni a fragment-et tartalmazó template-et, 
        és a benne lévő fragment nevét:
        <script type="text/plain">
          
<th:block th:insert="~{/include/other.html :: fragmentNév}"></th:block>

        </script>
      </li>
      <li>
        A <b>&lt;th:block&gt;</b> helyett nem érdemes más tagot használni, ugyanis ez a tag is beillesztődik a template-be.
      </li>
      <li>
        Fragment beillesztésére a <b>th:replace</b> is használható, azonban ezt nem használom. 
        A fogadó template-be nem rakja be <b>th:replace</b>-t tartalmazó tagot, de helyette berakja a fragment-ben 
        lévő <b>th:fragment</b>-et tartalmazó tagot, vagyis az egyiket a másikra cseréli.
      </li>
      <li>
        A beillesztett template-kód a szokásos módon hozzáfér a model attribútumokhoz, úgy mint a fő template.
      </li>
      <li>
        A beillesztéshez <b>fragment expression</b>-t használjunk melynek formája: <b>~{x::y}</b><br/>
        <script type="text/plain">
            
<th:block th:insert="~{/include/other.html :: fragmentNév}"></th:block>

        </script>
        A fragment expression-nek vannak előnyei, például nem kell egy <b>th:if</b> kifejezéssel eldönteni,
        hogy megtörténjen-e egyáltalán a beillesztés:
        <script type="text/plain">
            
<th:block th:insert="${user.isAdmin()} ? ~{common :: adminhead} : _">

        </script>
        vagy a fragment kifejezést egy változó is tartalmazhatja:
        <script type="text/plain">
            
<div th:with="frag=~{x :: y}">
  <p th:insert="${frag}"/>
</div>

        </script>
      </li>
      <li>
        A model is meg tudja határozni melyik fragment-et illesszük be, illetve hogy be kell-e valamit illeszteni:
        <script type="text/plain">
          
<th:block th:if="${kellBeillesztes}" th:insert="~{/include/other.html :: ${fragmentName}}"></th:block>

        </script>
      </li>
    </ul>
    <div class="altetel">Egyéb beillesztése</div>
    <ul>
      <li>
        Úgy is be lehet illeszteni egy másik template-ből hogy nincs benne th:fragment, de ennek az a hátránya,
        hogy a fragment-nek nem lehet átadni paramétert.<br/> 
        Ebben az esetben a teljes <b>&lt;head&gt;</b>-en belüli részt lehet insert-álni úgy hogy a :: után a 
        <b>"head"</b> szót kell megadni:
        <script type="text/plain">
          
<th:block th:insert="~{/xy/valami.html :: head}"></th:block>

        </script>
        vagy pedig a teljes <b>&lt;body&gt;</b>-n belüli részt lehet insert-álni úgy hogy a :: után a 
        <b>"body"</b> szót kell megadni:
        <script type="text/plain">
            
<th:block th:insert="~{/xy/valami.html :: body}"></th:block>

        </script>
      </li>
      <li>
        Css szelektorokat felhasználva is be lehet illeszteni a template-be más template egy részének tartalmát, 
        például egy oldalrész:
        <script type="text/plain">
            
<div id="copy-section">
  2011 The Good Thymes Virtual Grocery
</div>

        </script>
        ami máshol beilleszthető, úgy hogy az elem "id"-jére hivatkozunk css szelektorral:
        <script type="text/plain">
            
<th:block th:insert="~{/xy/valami.html :: #copy-section}"></div>

        </script>
      </li>
    </ul>
    <div class="altetel">Insert paraméter</div>
    <ul>
      <li>
        Például adjuk át a fragment-nek paraméterben milyen szöveget jelenítsen meg. Fragment:
        <script type="text/plain">
            
<th:block th:fragment="darab1 (szoveg)"><b th:text="${szoveg}"></b></th:block>

        </script>
        Fragment beszúrása két helyre, más-más szöveggel:
        <script type="text/plain">
            
<th:block th:insert="~{/base/reszlet.html :: darab1 ('árvíz')}"></th:block>
<th:block th:insert="~{/base/reszlet.html :: darab1 ('tűrő')}"></th:block>

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="th-remove" class="tetel">th:remove</div>
    <ul>
      <li>
        A <b>th:remove</b> segítségével a megjelölt html tagot, és gyerekelemeit lehet eltávolítani az oldalról, 
        úgy mintha a <b>th:if</b> feltétele sosem teljesülne. Akkor hasznos ha bizonyos tartalmakat a web-designer 
        szeretne látni a html-ben a program futtatása nélkül, de a futáskor mégsem jelenhetnek meg. 
      </li>
      <li>
        Azt is meg kell adni milyen elemek törlődjenek:
        <script type="text/plain">
            
th:remove="all"               ->  A tartalmazó tag és gyerekelemei is el lesznek távolítva az oldalról.
th:remove="body"              ->  A tartalmazó tag nem, de az összes gyerekeleme el lesz távolítva az oldalról.
th:remove="tag"               ->  Csak a tartalmazó tag lesz távolítva az oldalról, a gyerekelemei nem. 
th:remove="all-but-first"     ->  A tartalmazó tag nem, de az összes gyerekeleme el lesz távolítva az oldalról, 
                                  kivéve az első gyerekelemet.
th:remove="none"              ->  Nem lesz semmi eltávolítva az oldalról. 

        </script>
      </li>
      <li>
        Például a következő template kód:
        <script type="text/plain">
            
<ul th:remove="all-but-first">
  <li>első</li>
  <li>második</li>
  <li>harmadik</li>
</ul>

        </script>
        így jelenik meg:
        <script type="text/plain">
            
<ul>
  <li>első</li>
</ul>

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="th-styleappend" class="tetel">th:styleappend</div>
    <ul>
      <li>
        Hozzáírás a statikus <b>"style"</b> attribútumhoz, vagyis az eredeti attribútum érték után írás. 
      </li>
      <li>
        A hozzáíráskor automatikusan bekerül egy space az eredeti és a hozzáírandó string közé.
      </li>
      <li>
        Példa:
        <script type="text/plain">
            
<div style="display: block;" th:styleappend="'text-align: left;'">xy</div>

        </script>
        eredménye:
        <script type="text/plain">
            
<div style="display: block; text-align: left;">xy</div>

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="th-switch" class="tetel">th:switch</div>
    <ul>
      <li>
        A <b>th:switch</b> szerkezet a java switch működéséhez hasonló, de vannak különbségek:
        <ul>
          <li>
            Nincs "break". Ezért az első igaz case-ág után biztosan hamisnak fog értékelődni az 
            utána következő többi case-ág.
          </li>
          <li>A default ágat a th:case="*" jelzi.</li>
        </ul>
      </li>
      <li>
        Például ha a modelben az adat értéke "x" akkor a következő template:
        <script type="text/plain">
            
<div th:switch="${adat}">
  Az adat:
  <p th:case="'x'">X</p>
  <p th:case="'x'">X2</p>
  <p th:case="'y'">Y</p>
  <p th:case="*">EGYÉB</p>
</div>

        </script>
        így jelenik meg:
        <script type="text/plain"> 
            
<div>
  Az adat:
  <p>X</p>
</div>  

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="th-unless" class="tetel">th:unless</div>
    <ul>
      <li>
        A <b>th:unless</b> a <b>th:if</b> ellentéte. Így tehát ugyanazzal a feltétellel lehet <b>if</b> 
        ágat és <b>else</b> ágat csinálni a html-ben.
      </li>
      <li>
        Példa:
        <script type="text/plain">
            
<div th:if="${feltetel}">A feltétel teljesült</div>
<div th:unless="${feltetel}">A feltétel nem teljesült</div>

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="th-utext" class="tetel">th:utext</div>
    <ul>
      <li>
        Szöveg kiírása html-escape nélkül.
      </li>
      <li>
        Példa, vastagbetűs "árvíztűrő" kiiratására:<br/>
        A model-ben:
        <script type="text/plain">
            
model.addAttribute("szoveg", "<b>árvíztűrő</b>");

        </script>
        A template-ben:
        <script type="text/plain">
            
<div th:utext="${szoveg}"></div>

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="th-with" class="tetel">th:with</div>
    <ul>
      <li>
        A <b>th:with</b> segítségével <b>template lokális</b> változókat lehet definiálni.
      </li>
      <li>
        A lokális változók csak azon a html tagon belül érhetők el ahol definiálva lettek.
      </li>
      <li>
        Ha a model-ben is szerepel a lokális változóval megegyező nevű model attribútum, akkor a lokális változó ezt elfedi, 
        tehát csak a lokális változó tartalmához férünk hozzá a lokális változó hatókörén belül.
      </li>
      <li>
        Példa:
        <script type="text/plain">
            
<div th:with="v1='Árvíztűrő',v2=48">
  <p th:text="|Neve: ${v1}, kora: ${v2}|"></p>
</div>

        </script>
      </li>
      <li>
        Példa:
        <script type="text/plain">
            
<div th:with="firstPer=${persons[0]},secondPer=${persons[1]}">
  <p th:text="${firstPer.name}"></p>
  <p th:text="${secondPer.name}"></p>
</div>

        </script>
      </li>
      <li>
        A <b>th:with</b> precedenciája magasabb mint a <b>th:text</b> kifejezésé, 
        ezért egy tag-on belül együtt is alkalmazhatók:
        <script type="text/plain">
            
<p th:with="df=#{date.format}" th:text="${#calendars.format(today,df)}"></p>   

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    </div>
    <script src="../../resource/js/main.js"></script>
  </body>
</html>
