<!doctype html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>info: git</title>
    <link rel="icon" type="image/png" href="../../resource/image/favicon.png"/>
    <link rel="stylesheet" href="../../resource/css/main.css" type="text/css"/> 
  </head>
  <body>
    <div id="befoglalo">
    <div class="fej">git</div>
    <!--=====================================================================================================================-->
    <div class="tetel">Tartalomjegyzék</div>
    <table>
      <tr>
        <td style="vertical-align: top">
          <ul>
            <li><a href="#alapok"><b>alapok</b></a></li>
            <li><a href="#dokumentacio"><b>dokumentáció</b></a></li>
            <li><a href="#gitbash">git bash</a></li>
            <li><a href="#git-add">git add</a></li>
            <li><a href="#git-branch">git branch</a></li>
            <li><a href="#git-checkout">git checkout</a></li>
            <li><a href="#git-cherry-pick">git cherry-pick</a></li>
            <li><a href="#git-clean">git clean</a></li>
            <li><a href="#git-clone">git clone</a></li>
            <li><a href="#git-commit">git commit</a></li>
            <li><a href="#git-config">git config</a></li>
            <li><a href="#git-diff">git diff</a></li>
            <li><a href="#git-fetch">git fetch</a></li>
            <li><a href="#git-help">git help</a></li>
            <li><a href="#git-init">git init</a></li>
          </ul>
        </td>
        <td style="vertical-align: top">
          <ul>
            <li><a href="#git-log">git log</a></li>
            <li><a href="#git-ls-tree">git ls-tree</a></li>
            <li><a href="#git-merge">git merge</a></li>
            <li><a href="#git-pull">git pull</a></li>
            <li><a href="#git-push">git push</a></li>
            <li><a href="#git-rebase">git rebase</a></li>
            <li><a href="#git-remote">git remote</a></li>
            <li><a href="#git-reset">git reset</a></li>
            <li><a href="#git-revert">git revert</a></li>
            <li><a href="#git-rm">git rm</a></li>
            <li><a href="#git-stash">git stash</a></li>
            <li><a href="#git-status">git status</a></li>
            <li><a href="#git-tag">git tag</a></li>
            <li><a href="#gitignore">.gitignore</a></li>
            <li><a href="#gitlab.com">gitlab.com</a></li>
          </ul>
        </td>
        <td style="vertical-align: top">
          <ul>
            <li><a href="#hook">hook</a></li>
            <li><a href="#peldak">példák</a></li>
            <li><a href="#repository">repository</a></li>
            <li><a href="#smartgit">smartgit</a></li>
          </ul>
        </td>
      </tr>
    </table>
    <!--=====================================================================================================================-->
    <div id="alapok" class="tetel">alapok</div>
    <ul>
      <li>
        <b>
          Nagyon fontos hogy a git használata előtt elvégezzük ezeket a beállításokat!
        </b>
      </li>
      <li>
        <b>
          A "git config --global" beállítások a gépen lévő összes git-re vonatkoznak, 
          akár parancssoros, akár Netbeans-es, de csak a bejelentkezett user-re érvényes!
        </b>
      </li>
      <li>
        A sorvég karakterek oda-vissza konvertálásának letiltása:
        <script type="text/plain">
          
git config --global core.autocrlf false
git config --system core.autocrlf false

        </script>
      </li>
      <li>
        Személyes adatok beállítása, melyek a repository-ban tárolódnak a commit-ok során:
        <script type="text/plain">
          
git config --global user.name "KisPista"
git config --global user.email "kispista@gmail.com"

        </script>
      </li>
      <li>
        Https és ssh protokollok esetén ne figyelje a tanúsítványokat:
        <script type="text/plain">
          
git config --global http.sslVerify false 

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="dokumentacio" class="tetel">dokumentáció</div>
    <ul>
      <li>
        <a href="http://git-scm.com/doc" target="_blank">Alap dokumentáció</a><br/>
      </li>
      <li>
        <a href="http://nvie.com/posts/a-successful-git-branching-model/" target="_blank">
          A successful Git branching model
        </a>
      </li>
      <li>
        <a href="https://ndpsoftware.com/git-cheatsheet.html" target="_blank">
          Git Cheatsheet
        </a>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="gitbash" class="tetel">git bash</div>
    <ul>
      <li>
        A Git Bash egy parancssoros felület, mely minden platformon fut: 
        <a href="http://git-scm.com/downloads" target="_blank">innen telepíthető</a>
      </li>        
      <li>
        MacOS-en a telepítés után rakjuk be a $PATH-ba a <b>/usr/local/git/bin</b> -t, mivel ide települ.
      </li>        
    </ul>
    <!--=====================================================================================================================-->
    <div id="git-add" class="tetel">git add</div>
    <ul>
      <li>
        <b>git commit</b> előtt azokat a fájlokat melyeket szeretnénk a commit-tal eltárolni a repository-ba, 
        egy <b>git add</b>-dal kell megjelölni.
      </li>
      <li>
        A legjobb módszer mellyel az összes fájlt bejelöljük az aktuális könyvtárban(.) és alkönyvtáraiban,<br/>
        de eltávolítjuk az indexből ami régebben már benne volt, de már nem létezik a fájlrendszerben:
        <script type="text/plain">
          
git add --all

        </script>
      </li>
      <li>
        Például ha konkrét fájlokat szeretnénk így megjelölni akkor:
        <script type="text/plain">
          
git add egyik.txt masik.jpg

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="git-branch" class="tetel">git branch</div>
    <ul>
      <li>
        <b>Branch-ek lekérdezése</b><br/>
        Az aktuális *-gal van jelölve:
        <script type="text/plain">
          
git branch       # a lokális branch-ek lekérdezése
git branch -a    # a lokális, és a távoli (remote) branch-ek lekérdezése

        </script>
        A branch-ek lekérdezése nem biztos hogy jól mutatja a távoli branch-eket, 
        ugyanis mutathat olyat branch-et is ami már törölve lett.<br/>
        Ennek a hamis információnak a frissítése valósra, például a távoli "origin" repository frissítése:
        <script type="text/plain">
          
git remote update origin --prune

        </script>
      </li>
      <li>
        <b>Branch létrehozása</b><br/>
        <script type="text/plain">
          
git branch ÚJNÉV

        </script>
        A branch létrehozása után még nem ez lesz az aktuális. 
        Addig nem mutat ide a HEAD amíg egy checkout-ot nem csinálunk.
      </li>
      <li>
        <b>Branch törlése</b><br/>
        <script type="text/plain">
          
git branch -d RÉGINÉV

        </script>
        Csak akkor törölhető ha nem az aktuális branch.<br/>
        Ezzel a módszerrel az is elérhető hogy lokálisan ne legyen meg a branch(pointer), csak a remote repository-ban.<br/>
        Így ha ezzel az ággal nem kell dolgozni, nem lesz zavaró.<br/>
        A branch törlése a távoli repository-ban:
        <script type="text/plain">
          
git push origin :RÉGINÉV

        </script>
      </li>
      <li>
        <b>Branch átnevezése</b><br/>
        <script type="text/plain">
          
git branch -m RÉGINÉV ÚJNÉV

        </script>
        Ezzel csak a lokális branch kerül átnevezésre, a távoli repository-n lévő branch név nem változik.<br/>
        A régi branch törlése a távoli repository-ban:
        <script type="text/plain">
          
git push origin :RÉGINÉV

        </script>
      </li>
      <li>
        <b>Branch track</b><br/>
        Mivel a pull nem hozza létre lokálisan a branch-eket, ha lokálisan létre akarjuk hozni (a távoli másolataként), 
        akkor ez kell például:
        <script type="text/plain">
          
git branch --track mybr origin/mybr

        </script>
        Másik módszerrel is lehetséges a branch track: 
        <script type="text/plain">
          
git checkout mybr

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="git-checkout" class="tetel">git checkout</div>
    <ul>
      <li>
        Repository-ban lévő állapot visszaállítása workdir-be.<br/>
        Ha a checkout egy teljes commit-ra vonatkozik (nem pedig egy-egy fájlra) akkor a HEAD is ide áll be.
      </li>
      <li>
        A checkout művelet a workdir-ben lévő untracked fájlokat nem változtatja meg 
        (ha nincs ilyen a visszaállítandó commit-ban).
      </li>
      <li>
        A checkout művelet a workdir-ben lévő tracked fájlokat megváltoztatja, 
        és a visszaállítandó commit-nak megfelelőek lesznek.<br/>
        Ha például a workdir tartalmaz egy tracked a.txt fájlt, a visszaállítandó commit viszont nem tartalmaz, 
        akkor a workdir-ből a fájl törlődik.
      </li>
      <li>
        Például egy másik branch-ben lévő állapot visszaállítása:
        <script type="text/plain">
          
git checkout -f masik_branch

        </script>
      </li>
      <li>
        Új branch létrehozása, és ennek checkout-ja is egyben:
        <script type="text/plain">
          
git checkout -b uj_branch

        </script>
      </li>
      <li>
        Ha egy tetszőleges commit-ra akarunk visszaállni (egy branch közepén) akkor 2 eset lehetséges:
        <ul>
          <li>
            Csak meg akarjuk nézni a workdir-t de biztos nem fejlesztjük tovább ezt az állapotot. Ezt azért fontos tudni, 
            mert ilyenkor egy branch nélküli állapotban leszünk, ahol nem szabad commit-álni. Például:
            <script type="text/plain">
              
git checkout -f c3ab984d

            </script>
          </li>
          <li>
            Ezzel az állapottal folytatjuk tovább a fejlesztést a workdir-ben, és későbbiekben commit-álunk is ebből. 
            Ekkor a checkout-tal együtt egy új branch-et is létre kell hoznunk pl:
            <script type="text/plain">
              
git checkout -f c3ab984d -b uj_branch

            </script>
          </li>
        </ul>
      </li>
      <li>
        Példák fájl(ok) illetve könyvtár checkout-ra. Ilyenkor a HEAD nem változik, csak a workdir módosul:
        <script type="text/plain">
          
git checkout be88c3 könyvtár
git checkout be88c3 file1.jpg könyvtár2/file2.txt 

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="git-cherry-pick" class="tetel">git cherry-pick</div>
    <ul>
      <li>
        Ágak összevonása a merge-hez hasonlóan, de itt máshogy épülnek fel az új commit-ok.<br/>
        Az átláthatóság, és megbízhatóság miatt inkább merge-t használjunk !
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="git-clean" class="tetel">git clean</div>
    <ul>
      <li>
        Untracked állapotú fájlok/könyvtárak törlése a workdir-ből. 
        A <b>-d</b> kapcsolóval lehet törölni untracked könyvtárakat is.
      </li>
      <li>
        Példák:
        <script type="text/plain">
          
git clean -n      -> csak megmutatja milyen fájlokat törölne      
git clean -n -d   -> csak megmutatja milyen fájlokat és könyvtárakat törölne              
git clean -f      -> untracked fájlok törlése (untracked könyvtárakat és tartalmukat nem törli)              
git clean -f -d   -> untracked fájlok és könyvtárak törlése
git clean -i      -> interaktív mód, egyenként válogathatjuk ki a törlendő fájlokat

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="git-clone" class="tetel">git clone</div>
    <ul>
      <li>
        Repository klónozása (másolása).
      </li>
      <li>
        A --bare kapcsolóval bare-repository, nélküle non-bare repository készíthető.
      </li>
      <li>
        Például a /Users/xesj/vcs könyvtárban lévő non-bare repository-ról egy bare-repository másolat készítése
        vcsbare.git néven a /tmp könyvtárban:
        <script type="text/plain">
          
git clone --bare /Users/xesj/vcs /tmp/vcsbare.git

        </script>
      </li>
      <li>
        Például a /tmp/vcsbare.git bare-repository-ról egy non-bare repository készítése a /Users/xesj/vcs könyvtárba: 
        <script type="text/plain">
          
git clone /tmp/vcsbare.git /Users/xesj/vcs

        </script>
      </li>
      <li>
        Például bare-repository készítése ssh-elérésű távoli serveren.<br/> 
        Előszőr csak a lokális gépen lehet a bare-repositoryt létrehozni, majd ezt kell felmásolni a távoli serverre:
        <script type="text/plain">
          
git clone --bare /Users/xesj/vcs /tmp/vcsbare.git
scp -r /tmp/vcsbare.git xesj@valamiserver:/opt/all_repos

        </script>
        Ha távoli serveren lévő bare-repositoryt meg szeretnénk osztani másokkal, akkor lépjünk be a repository 
        könyvtárába, majd adjuk ki a következő parancsot:
        <script type="text/plain">
          
git init --bare --shared

        </script>
      </li>
      <li>
        Például non-bare repository készítése a lokális gépen a mydir könyvtárban, 
        ssh-elérésű távoli serveren lévő bare-repository alapján:
        <script type="text/plain">
          
git clone ssh://xesj@valamiserver/opt/all_repos/vcsbare.git mydir

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="git-commit" class="tetel">git commit</div>
    <ul>
      <li>
        Workdir-ben lévő fájlok tárolása a repository-ba.
      </li>
      <li>
        Például tárolás az itt megadott megjegyzéssel, és előtte hozzáadjuk a commit-álandó fájlokat:
        <script type="text/plain">
          
git add --all
git commit -m "megjegyzés"   

        </script>
      </li>
      <li>
        Például nem jó az utolsó commit.<br/>
        Ekkor a workdir-ben a hibát javítva, nem egy új commit-ot kell létrehozni hanem az előzőt javítani:
        <script type="text/plain">
          
git commit --amend -m "így biztos jó"   

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="git-config" class="tetel">git config</div>
    <ul>
      <li>
        A beállítások lehetnek globálisak ha a --global kapcsolót használjuk, lehetnek rendszer beállítások
        a --system kapcsolóval, ezek nélkül a beállítások lokálisak. Például:
        <script type="text/plain">
          
git config --global core.autocrlf false   # automatikus CRLF konverzió kikapcsolása globális szinten

        </script>
      </li>
      <li>
        A jelenlegi beállítások megtekintése, például:
        <script type="text/plain">
          
git config --list            # az összes beállítás megtekintése
git config --system --list   # rendszer szintű beállítások megtekintése
git config --global --list   # globális szintű beállítások megtekintése

        </script>
      </li>
      <li>
        Törli a git által megjegyzett összes repository-hoz tartozó jelszót: 
        <script type="text/plain">
          
git config --system --unset credential.helper  

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="git-diff" class="tetel">git diff</div>
    <ul>
      <li>
        Fájlok összehasonlítására szolgál. Akár két különböző branch egy-egy commit-ját is össze lehet hasonlítani.
      </li>
      <li>
        Például az aktuális változások a workdirben az utolsó commit-hoz képest:
        <script type="text/plain">
          
git diff

        </script>
      </li>
      <li>
        Például 2 branch (utolsó commit-jának) összehasonlítása:
        <script type="text/plain">
          
git diff develop master

        </script>
      </li>
      <li>
        Például 2 commit összehasonlítása:
        <script type="text/plain">
          
git diff c56f32 d0098ee

        </script>
      </li>
      <li>
        Például 2 commit-ban egy adott fájl összehasonlítása:
        <script type="text/plain">
          
git diff c56f32 d0098ee -- nbproject/project.xml

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="git-fetch" class="tetel">git fetch</div>
    <ul>
      <li>
        <b>A lokális repository frissítése a távoli repository alapján.</b>
        <ul>
          <li>Bármikor végrehajtható, nem okoz problémát, akkor sem ha még nincs commit-álva a working directory</li>
          <li>Nem hajt végre merge műveletet</li>
          <li>Nem módosítja a working directory-t</li> 
          <li>Nem módosítja a HEAD-et</li>
          <li>
            Ha a távoli repository-ban olyan branch található ami a lokális repository-ban nincs, akkor létrehozza, 
            a többi létező branch-hez pedig hozzáfűzi az új commit-okat.
          </li>
        </ul>
      </li>
      <li>
        Az összes branch frissítése:
        <script type="text/plain">
          
git fetch origin --progress --prune

        </script>
      </li>
      <li>
        Csak egyetlen branch (pl: "develop") frissítése:
        <script type="text/plain">
          
git fetch origin develop --progress --prune

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="git-help" class="tetel">git help</div>
    <ul>
      <li>
        Információ a git parancsokról.
        <script type="text/plain">
          
git help
git help remote   # információ a "git remote" parancsról

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="git-init" class="tetel">git init</div>
    <ul>
      <li>
        Ezzel a paranccsal egy adott könyvtárban állva, létrehozhatjuk a könyvtárhoz tartozó üres non-bare repository-t.
        A könyvtárban létrejön egy rejtett ".git" alkönyvtár. Ha a könyvtárban fájlok is voltak akkor azok "untracked" 
        állapotúak lesznek, vagyis a git figyelmen kívül hagyja őket a műveleteknél.
        <script type="text/plain">
          
git init

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="git-log" class="tetel">git log</div>
    <ul>
      <li>
        Információ kérése az eddigi commit-okról:
        <script type="text/plain">
          
git log

        </script>
      </li>
      <li>
        Megjeleníti az elágazásokat, ha már volt <b>merge</b> ezen az ágon:
        <script type="text/plain">
          
git log --graph

        </script>
      </li>
      <li>
        Csak a commit kódok, és a hozzátartozó megjegyzések egy-egy sorban:
        <script type="text/plain">
          
git log --oneline

        </script>
      </li>
      <li>
        Tag nevek megjelenítése:
        <script type="text/plain">
          
git log --decorate

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="git-ls-tree" class="tetel">git ls-tree</div>
    <ul>
      <li>
        Fájlok listája egy adott commit-verzióban, pl: a  36eb9c... -ben:
        <script type="text/plain">
          
git ls-tree 36eb9c

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="git-merge" class="tetel">git merge</div>
    <ul>
      <li>
        Ágak összevonása. Az aktuális ágba beolvasztja a paraméterében megadott másik ágat, vagy az ág egy commit-ját.
      </li>
      <li>
        Például a másik_branch beolvasztása az aktuális branch-be:
        <script type="text/plain">
          
git merge másik_branch

        </script>
      </li>
      <li>
        Például egy másik branch egy adott commit-jának beolvasztása az aktuális branch-be:
        <script type="text/plain">
          
git merge 578cc9

        </script>
      </li>
      <li>
        Ha az összevonás konfliktus mentesen automatikusan végrehajtható, akkor egy új commit-ot is csinál.
        Az új commit-nak 2 szülője lesz, így a git log-ban mindkét ág commit-jai megjelennek.
      </li>
      <li>
        Ha az összevonáskor nem tudja feloldani a konfliktusokat, akkor nem készít commit-ot. 
        A konfliktusos fájl(ok)ba belerakja mindkét lehetőséget,
        melyet nekünk kell manuálisan javítani (az egyik lehetőséget kitörölni) hogy végre lehessen hajtani commit-ot:
        <script type="text/plain">
          
>>>>>>>
egyik lehetőség
=======
másik
lehetőség
<<<<<<<

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="git-pull" class="tetel">git pull</div>
    <ul>
      <li>
        Távoli serveren lévő repository egy ágának (branch) tárolása a lokális repository-ba, 
        és merge készítése ha szükség van rá.
      </li>
      <li>
        <b>
          Csak azt az ágat pull-oljuk amelyik az aktuális !<br/>
          Különben az aktuális ág megváltozhat, mivel a pull erre az ágra rakja rá a távoli ág commit-jait !</b>
      </li>
      <li>
        Például:
        <script type="text/plain">
          
git pull valamiserver egy_branch
# előtte pl. szükséges: git remote add valamiserver ssh://xesj@localhost/Users/xesj/bare/vcs.bare 

        </script>
      </li>
      <li>
        A pull nem az összes fájlt tölti le, hanem csak azokat melyek megváltoztak. Így tekinthető meg mi fog letöltődni:
        <script type="text/plain">
          
git fetch && git diff --name-only ..origin

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="git-push" class="tetel">git push</div>
    <ul>
      <li>
        Lokális repository egy vagy több branch-ének tárolása távoli serveren.
      </li>
      <li>
        Például a develop branch tárolása, ahol a távoli servert url-lel adjuk meg:
        <script type="text/plain">
          
git push ssh://xesj@remoteserver/Users/xesj/bare/vcs.bare develop

        </script>
      </li>
      <li>
        Például a develop branch tárolása, ahol a távoli servert logikai névvel adjuk meg:
        <script type="text/plain">
          
git push origin develop

        </script>
        (Előtte szükséges a logikai nevet definiálni például: 
        git remote add origin ssh://xesj@remoteserver/Users/xesj/bare/vcs.bare) 
      </li>
      <li>
        Ha a <b>git reset</b> paranccsal visszaléptünk a lokális repository-ban, 
        és ezt a visszalépést szeretnénk érvényesíteni a távoli
        repository-ban is, akkor a <b>-f</b> kapcsolót kell használni, például a develop ág visszaléptetése:
        <script type="text/plain">
          
git reset --hard c3f65
git push -f origin develop

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="git-rebase" class="tetel">git rebase</div>
    <ul>
      <li>
        Ágak összevonása a merge-hez hasonlóan, de itt máshogy épülnek fel az új commit-ok.<br/>
        Az átláthatóság, és megbízhatóság miatt inkább merge-t használjunk !
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="git-remote" class="tetel">git remote</div>
    <ul>
      <li>
        Távoli serveren lévő repository-hoz logikai név definiálása, lekérdezése, átnevezése.
      </li>
      <li>
        Az eddig beállított logikai nevek lekérdezése:
        <script type="text/plain">
          
git remote -v

        </script>
      </li>
      <li>
        Például ssh-elérésű távoli serverhez logikai név (origin2) létrehozása:
        <script type="text/plain">
          
git remote add origin2 ssh://xesj@localhost/Users/xesj/bare/vcs.bare

        </script>
      </li>
      <li>
        Például az origin2 logikai név törlése:
        <script type="text/plain">
          
git remote rm origin2

        </script>
      </li>
      <li>
        Például a gitblit logikai név átnevezése origin-re:
        <script type="text/plain">
          
git remote rename gitblit origin

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="git-reset" class="tetel">git reset</div>
    <ul>
      <li>
        <b>Commit-ok törlése !</b><br/>
        A HEAD-et visszaállítja arra a commit-ra amit megadtunk, ezért az utána következő 
        commit-okra nincs hivatkozás, törlődni fognak.
      </li>
      <li>
        A <b>--hard</b> kapcsolót használva a workdir is változik, az új HEAD-nek megfelelő tartalmú lesz. Például:
        <script type="text/plain">
          
git reset --hard 47ab5f

        </script>
      </li>
      <li>
        A <b>--soft</b> kapcsolót használva a workdir tartalmát nem változtatja meg. Például:
        <script type="text/plain">
          
git reset --soft 47ab5f

        </script>
      </li>
      <li>
        Nem ajánlott a használata abban az esetben, amikor a távoli repository-ban már push-olva vannak a törlendő commit-ok,
        és már valakik pull-olták azokat. Ha mégis vissza akarjuk léptetni a távoli repository-t is, 
        akkor mindenképp kell a <b>-f</b> kapcsoló a push-hoz:
        <script type="text/plain">
          
git push -f

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="git-revert" class="tetel">git revert</div>
    <ul>
      <li>
        Készít egy új commit-ot, ami úgy néz ki, mintha az eddigi commit-okból kivenné azokat amit megadunk
        a paraméterében. Akkor hasznos, ha vissza akarunk állni egy régi commit-ra, de az új (nem kívánatos) commit-ok 
        már push-olva vannak egy távoli repository-ba, így már más személy esetleg pull-olta őket.
      </li>
      <li>
        Tegyük fel hogy a commit lánc ilyen:
        <script type="text/plain">
          
c1jó - c2jó - c3rossz - c4rossz 

        </script>
        Szeretnénk hogy létrejöjjön egy új <b>c5jó</b> commit, de az pont olyan legyen mint a <b>c2jó</b>.
        Tehát vissza kell vonni a <b>c3rossz</b> és <b>c4rossz</b> commit-okat:
        <script type="text/plain">
          
git revert c3rossz c4rossz

        </script>
        melynek eredménye:
        <script type="text/plain">
          
c1jó - c2jó - c3rossz - c4rossz - c5jó 

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="git-rm" class="tetel">git rm</div>
    <ul>
      <li>
        Track-elt fájlok áthelyezése untracked állapotba, így nem vesznek részt git műveletekben. 
        A parancs a "git add" ellentéte.
      </li>
      <li>
        Például a.txt áthelyezése untracked állapotba:
        <script type="text/plain">
          
git rm --cached a.txt   

        </script>
      </li>
      <li>
        Például egy adott könyvtárban és alkönyvtáraiban lévő fájlok áthelyezése untracked állapotba:
        <script type="text/plain">
          
git rm --cached -r könyvtár

        </script>
      </li>
      <li>
        Például a.txt fájl törlése a workdir-ből:
        <script type="text/plain">
          
git rm -f a.txt     

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="git-stash" class="tetel">git stash</div>
    <ul>
      <li>
        Visszaállítja a wordir-t a tiszta állapotba, vagyis ami a legutolsó HEAD commit-nál volt 
        (csak a tracked fájlokkal foglalkozik).<br/>
        A workdir-ben lévő állapot megörződik egy stash-területen, melyre később ha szükséges visszaállhatunk.
      </li>
      <li>
        Workdir visszaállítása tiszta állapotba:
        <script type="text/plain">
          
git stash        

        </script>
      </li>
      <li>
        Stash-területek listázása:
        <script type="text/plain">
          
git stash list   

        </script>
      </li>
      <li>
        Az összes stash-terület törlése:
        <script type="text/plain">
          
git stash clear  

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="git-status" class="tetel">git status</div>
    <ul>
      <li>
        Egy adott non-bare repository könyvtárában kiadva a parancsot, státusz információt ad a fájlokról, 
        és az aktuális branch-ről.
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="git-tag" class="tetel">git tag</div>
    <ul>
      <li>
        A tagok segítségével egyes commit-okat külön fel lehet cimkézni, például a program verzióját írjuk a cimkére.<br/>
        A tagnév nem tartalmazhat szóközt. 
      </li>
      <li>
        A tagok nagy előnye a commit message-ekkel szemben, hogy a tagok áthelyezhetők más commit-ra, illetve törölhetők.
      </li>
      <li>
        A legutolsó commit-hoz tag rendelése:
        <script type="text/plain">
          
git tag tagnév

        </script>
      </li>
      <li>
        Egy régebbi commit-hoz tag rendelése:
        <script type="text/plain">
          
git tag tagnév 13e8fe3

        </script>
      </li>
      <li>
        Létező tag-ok listázása:
        <script type="text/plain">
          
git tag

        </script>
      </li>
      <li>
        Egy tag törlése, mely függetlenül attól melyik commit-hoz van rendelve:
        <script type="text/plain">
          
git tag -d tagnév

        </script>
      </li>
      <li>
        Egy tagnévhez rendelt commit információk megjelenítése:
        <script type="text/plain">
          
git show tagnév

        </script>
      </li>
      <li>
        Ha már létező nevű tag-ot egy másik commit-hoz rendelünk, akkor ez az új commit lesz a tag-gel megjelölve, 
        nem pedig a régi.
      </li>
      <li>
        Ha a lokális repository-ban töröltünk egy tagot, annak törlése a távoli repository-ból:
        <script type="text/plain">
          
git push origin :tagnév

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="gitignore" class="tetel">.gitignore</div>
    <ul>
      <li>
        A főkönyvtárban lévő <b>.gitignore</b> fájlban jelezhető melyek azok a fájlok melyeket a git ne vegyen figyelembe, 
        vagyis untracked állapotban kell maradniuk.
      </li>  
      <li>
        Azok a fájlok melyek a .gitignore bejegyzés előtt már tracked állapotban vannak azok úgy is fognak maradni, 
        ekkor használható a <b>git rm</b>.  
      </li>  
      <li>
        Ha könyvtár nevet használunk azt <b>/</b> jellel fejezzük be.
      </li>  
      <li>
        Ha egy sor <b>#</b>-kal kezdődik vagy üres, az figyelmen kívül marad.
      </li>  
      <li>
        Példák arra hogy milyen bejegyzések milyen fájlokat zárnak ki (untracked állapotban hagynak):
        <script type="text/plain">
          
a.txt  -> bármilyen alkönyvtárban lévő "a.txt" 
*.txt  -> bármilyen alkönyvtárban ".txt" végű fájl 
*ABC   -> bármilyen könyvtárban "ABC" végű fájl 

/kvt/*.txt     -> a /kvt könyvtárban lévő ".txt" kiterjesztésű fájlok, de nincs benne: /kvt/kvt2/a.txt 

/kvt/**/*.txt  -> a /kvt könyvtárban és alkönyvtáraiban lévő ".txt" kiterjesztésű fájlok

/kvt/          -> a /kvt könyvtár mindenestől

kvt/           -> bármilyen mélységben lévő kvt könyvtár mindenestől

        </script>        
      </li>  
    </ul>
    <!--=====================================================================================================================-->
    <div id="gitlab.com" class="tetel">gitlab.com</div>
    <ul>
      <li>
        A <a href="https://gitlab.com" target="_blank">gitlab.com</a> webhelyhez nem kell SSH kulcsot készíteni. 
        Ha nincs, akkor <b>https</b> protokollt fog ajánlani a project repository eléréséhez.
      </li>
      <li>
        Ha a projekt <b>publikus</b>, akkor felhasználónév nélküli url-lel is elérhető, például:
        <script type="text/plain">
          
https://gitlab.com/xesj/myproject.git

        </script>
      </li>
      <li>
        Ha a projekt <b>privát</b>, akkor meg kell adni a felhasználónevet az url-ben:
        <script type="text/plain">
          
https://vendeg@gitlab.com/xesj/myproject.git  

        </script>
        Ha erre az url-re egy git bash-ban hivatkozunk egy <b>git clone</b> parancsban,
        akkor a git bash egy popup ablakban kéri be a vendég jelszavát.
      </li>
      <li>
        A felhasználónéven kívül a jelszó is beleírható az url-be:
        <script type="text/plain">
          
https://vendeg:jelszó@gitlab.com/xesj/myproject.git

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="hook" class="tetel">hook</div>
    <ul>
      <li>
        Bizonyos git eseményekhez (commit, push) hozzárendelhető egy-egy shell script,
        mely a git esemény bekövetkezésekor lefut. Egy ilyen shell scriptet hook-nak nevezünk.
        Ezek lehetnek kliens és szerver oldaliak.
      </li>
      <li>
        A 3 szerver oldali hook közül a <b>post-receive</b> akkor fut, akkor már a git push lezajlott, 
        és a szerver oldalon minden művelet megtörtént. Erre például írható olyan hook, ami a projekttel valamilyen 
        műveletet végez. A post-receive nem kap kívülről paramétert, hanem a standard inputról kell beolvasnia 
        a szükséges információkat. Ezek az információk space-szel vannak elválasztva:
        <script type="text/plain">
          
{old-commit-id} {new-commit-id} {ref-name}

        </script>
        Általában a középső adatra van szükség, ez az új commit-id, ez alapján lehet kiolvasni hogy a fejlesztő
        milyen commit üzenetet írt. Egy jó ötlet, hogy a commit üzenetbe <b>hook:</b> kezdetű szöveget írjunk,
        ha azt szeretnénk, hogy a hook erre valamit csináljon, és azt csinálja amit odaírtunk.
      </li>
      <li>
        Példa egy szerver oldali <b>post-receive</b> hook-ra, melyet a szerver oldalon lévő git repository <b>hooks</b>
        könyvtárába kell elhelyezni <b>post-receive</b> névvel. Akkor fut le, amikor a project push-olva lett a szerverre,
        és figyeli hogy a commit üzenet <b>hook:</b> kezdetű-e, mert ezesetben a /tmp könyvtárban létrehoz egy fájlt 
        a hook névvel:
        <script type="text/plain">
          
#!/bin/sh

# Beolvasás a standard inputról egy tömbbe, elválasztókarakter: space
IFS=' '
read -a tomb

# Az aktuális commit ID meghatározása
commit=${tomb[1]}

# A commit ID-hez tartozó commit üzenet meghatározása
message=`git log --format=%B -n 1 $commit`

# Ellenőrzés: a commit üzenet "hook:" kezdetű ?
if [[ $message == hook:* ]] ;
then

  # A "hook:" utáni szöveg meghatározása
  hook=`echo $message | cut -c6-`
  touch /tmp/$hook

fi 

        </script>
      </li>
      <li>
        dokumentáció:
        <a href="https://www.atlassian.com/git/tutorials/git-hooks#server-side-hooks" target="_blank">server side hooks</a>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="peldak" class="tetel">példák</div>
    <ul>
      <li>
        Egy "mydir" nevű könyvtárat szeretnénk git-tel verzókezelni. 
        Be kell állni a "mydir" könyvtárba majd kiadni a következő parancsokat:
        <script type="text/plain">
          
git init
git add .
git commit -m "first commit"
git clone --bare . /tmp/mydir.git
# A /tmp/mydir.git -et fel kell másolni egy serverre amit pl. ssh-val érünk el, xesj userrel
git remote add origin ssh://xesj@hostname/Users/xesj/gitrepo/mydir.git
git push

        </script>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="repository" class="tetel">repository</div>
    <ul>
      <li>
        Kétféle repository van: bare, és non-bare repository.
      </li>
      <li>
        <b>Non-bare repository:</b><br/>
        Tartalmazza a repository adatbázist és a working directory-t (workdir). 
        Ezzel a fajta repository-val dolgozunk a workdir-ben, majd tároljuk a változásokat a repository adatbázisba. 
        A repository adatbázis a workdir-en belül van egy rejtett <b>.git</b> nevű könyvtárban.
      </li>
      <li>
        <b>Bare repository:</b><br/>
        Nem tartalmaz working directory-t (workdir), csak a repository adatbázist. Ez a repository fajta szolgál arra
        hogy egy távoli serveren legyen és megosszuk mással. Általában egy önmagában álló könyvtár <b>.git</b> 
        kiterjesztéssel, például: valami.git
      </li>
    </ul>
    <!--=====================================================================================================================-->
    <div id="smartgit" class="tetel">smartgit</div>
    <ul>
      <li>
        Az egyik legjobb git kliens, mely Java-ban íródott, így fut minden platformon. 
        Azokat a repository-kat melyeket nem kezel egy speciális
        fejlesztőeszköz (pl. NetBeans), azt érdemes a SmartGit programmal kezelni:
        <a href="http://www.syntevo.com/smartgit" target="_blank">innen telepíthető</a>
      </li>
    </ul>
    <!--=====================================================================================================================-->
    </div>
    <script src="../../resource/js/main.js"></script>
  </body>
</html>